<div class="container">
  <div class="row">
    <div class="container">
      b l a n k 
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a class="btn btn-secondary btn-block mb-1" data-toggle="collapse" href="#dishes_filters">Show Filters</a>
    </div>
  <div class="col-md-6">
    <div class="card">
    <table class="table table-striped table-hover">
      <tr>
        <th>The very best...</th>
        <th>is at...</th>
        <th></th>
        <th></th>
      </tr>

      <% @dishes.each do |dish| %>
      <tr>
        <td> 
        <a href="/dishes/<%= dish.id %>"><%= dish.name %></a>
        </td>
        <td> <%= select_tag("venue_id", options_from_collection_for_select(Venue.all, :id, :name, @dishes.try(:venue_id)), :class => "form-control") %></td>
        <td><button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
            </button></td>
        <td>
          <% if dish.cuisine.present? %>
            <span class="badge badge-primary">
              <%= dish.cuisine.name %>
            </span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    </div>
  </div>
</div>